.container {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.videoBox {
  max-width: 450px; /* How much width is given in the 825px width */
  max-height: auto;
  overflow-wrap: break-word;
  border: 1px solid rgb(0, 156, 164);
  border-radius: 25px;
  background-color: black;
  margin: 2 auto;
  padding: 15px;
  flex: 1;
}
.videoBox h1 {
  font-size: 20px;
  width: 100%;
  white-space: normal;
}
.videoBox p {
  display: flex;
  font-weight: 200;
}
.videoBox img {
  display: flex;
  align-items: flex-start;
  width: 85%;
}
/* Tabs */
.downloadBox {
  max-width: 275px; /* How much width is given in the 825px total width */
  max-height: auto;
  overflow-wrap: break-word;
  border: 1px solid rgb(0, 156, 164);
  border-radius: 25px;
  margin: 2 auto;
  margin-left: 10px;
  flex: 1;
}
.downloadNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px;
  background-color: rgb(85, 85, 85);
  border-radius: 25px 25px 0px 0px;
}
.downloadNav li {
  flex: 1;
}
.downloadNav button {
  width: 95%;
  height: auto; 
} 
  